:root {
    --dark: #1f1d1d;
    --light: #171718;
}

.card, .card-body{
    background-color: var(--light);
    border-radius: 10px;
    width: 400px;
    height: 150px;
}


.modal-content{
   
    border-radius: 10px;
    color: #fff;
    background: linear-gradient(to bottom,var(--dark) ,var(--light) );
}

.fas:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-edit, .btn-cancel{
    background-color:  #2a292b; 
    color: #e8d8d8;
}

.btn-edit:hover, .btn-cancel:hover{
    background-color: var(--dark);
    color: #FFF;
}
.card{
    border: none;
}

.card-title, .btn-close{
    color: #FFF;
}

.containerAllPosts {
    padding: 2rem;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
   margin-bottom: 100px;
}



.titlePost{
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.titlePost h1{
    padding: 2rem;
    width: 100%;
    border-radius: 10px;
    color: #fff;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 30px;
    background: linear-gradient(to bottom,var(--dark) ,var(--light) );
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   
}

.user-list{
    padding: 2rem; 
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom,var(--dark) ,var(--light) );
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 60px;
}


.login-title {
    
    color: #FFF;
    margin-bottom: 1.5rem;
}
